    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:futura;
            
}

@font-face{
    font-family: 'futura';
    src: url(../font/Futura-Book-2.ttf);
}
body{
	background: url(../Fans/background.jpg) no-repeat fixed center;
  	background-size: cover;
	min-height: 102vh;
    /*opacity: 0.7*/;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
	/*border: solid 2px white;*/
	}
header.sticky{
	padding: 5px 100px;
	background: #000;
}
header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration:none ;
	font-size: 2em;
	text-transform: uppercase;
	opacity: 0.8;

	letter-spacing: 2px;
	transition: 0.6s;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.6s;
}
header.sticky.logo{
	color: #fff;
}
header.sticky ul li a{
	color: #fff;
}
.dropdown {
				position: relative;
				display: inline-block;
			}

			.dropdown-content {
	  			display: none;
	  			position: absolute;
	  			background-color: rgba(0, 0, 0, 1);
	  			min-width: 180px;
	  			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  			padding: 12px 16px;
	  			z-index: 1;
	  			text-align: center;
			}

			.dropdown:hover .dropdown-content {
	  			display: block;
			}

			.dropdown-content a{
				color: white;
	  			padding: 12px 16px;
	  			text-decoration: none;
	  			display: block;
			}

			.dropdown-content a:hover{
				background-color: rgba(105, 105, 105, 0.7);
			}
.sousuo{
	margin: 0;
	padding: 0;
	/*background: #e84118;*/
	opacity: 0.8;
	}
.search-box{
	position: absolute;
	top: 50%;
	left: 30%;
	transform:translate(-50%,-50%) ;
	background: transparent;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}
.search-btn{
	color: #e84118;
	float: right;
	width: 40px;
	height: 20px;
	border-radius: 50%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	/*top: 5px;*/
}
.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	width: 240px;
}


a{
	text-decoration: none;
	color: black;
}

#head{
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
}
.name{
	margin-left: 100px;
	margin-top: 50px;
	position: absolute;
	font-size: 8px;
	color: rgba(0, 0, 0, 0.6);
	line-height: 15px;

}

.left{
	position: fixed;
	top: 15%;
	left: 10%;
	width: 20%;
	height: 70vh;
	z-index: 100000;
	/*border: solid 2px black;*/
	background-color:white ;
	opacity: 0.75;
	box-shadow: 0 1rem 1.5rem rgba(0,0,0,.3),
    0 .5rem .5rem rgba(0,0,0,.2);
    overflow: hidden;
}

.left ul{
	margin-top: 15vh;
	height: 48vh;
	width: 100%;
	/*border: solid 1px black;*/
}

.left ul li,.right ul li
{list-style-type: none;}     
			  /*左浮动*/
.left ul li a{
	padding: 20px;
	display: block;
	/*width: 100%;*/
	height: 8vh;
	text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
	}
.left ul li a:link,a: visited{
	color: white;
}
.left ul li a:hover{
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.7);	
	opacity: 7;
}
.right{
	position: absolute;
	top: 15%;
	right: 10%;
	width: 55%;
	height: 80vh;
	background-color:white ;
	opacity: 0.75;
	box-shadow: 0 1rem 1.5rem rgba(0,0,0,.3),
    0 .5rem .5rem rgba(0,0,0,.2);
  /*border-radius: 1rem;*/
    overflow: hidden;
	/*border: solid 2px black;*/
}
.title{
	height: 8vh;
	width: 98%;
	font-weight: bold;
	line-height: 8vh;
	font-size: 20px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.qian{
	width: 6vw;
	height: 66vh;
	/*border: solid 2px yellow;*/
}
.zhong{	
	width: 33vw;
	height: 66vh;
	margin-left: 5vw;
	/*margin-top: -66vh;*/
	/*border: solid 2px blue;*/
	font-size: 10px;
	color: rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

#fir{
	margin-top: -66vh;
	font-weight: bold;
	font-size: 14px;
}

#sec{
	margin-top: -60vh;
	font-size: 12px;
	opacity: 0.9;
}
.hou{
	width: 14vw;
	height: 66vh;
	margin-left: 40vw;
	margin-top: -72vh;

	/*border: solid 2px green;*/
}
.qian img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.right ul li a{
	padding: 10px;
	display: block;
	/*width: 30vw;*/
	height: 11vh;
	text-align: left;
    text-decoration: none;
    color: black;
    /*border: solid 5px black;*/
	}


button{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: black;
	color: white;
	border-color: transparent;
	font-size: 5px;

}

.more{
	position: absolute;
	margin-left: 90%;
	margin-top: -40px;
	text-align: center;

}

