
         *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:futura;
            
}

@font-face{
    font-family: 'futura';
    src: url(../font/Futura-Book-2.ttf);
}

@font-face{
    font-family: 'futura';
    src: url(../font/Futura-Book-2.ttf);
}
		body{
			background:black;
			min-height: 200vh;
		}
		header{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: 0.6s;
			padding: 40px 100px;
			z-index: 100000;
			background-color: black;
		}
		header.sticky{
			padding: 5px 100px;
			background: #000;
		}
		header .logo{
			position: relative;
			font-weight: 700;
			color: #fff;
			text-decoration:none ;
			font-size: 2em;
			text-transform: uppercase;
			opacity: 0.8;

			letter-spacing: 2px;
			transition: 0.6s;
		}
		header ul{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

		}
		header ul li{
			position: relative;
			list-style: none;
		}
		header ul li a{
			position: relative;
			margin: 0 15px;
			text-decoration: none;
			color: #fff;
			letter-spacing: 2px;
			font-weight: 500px;
			transition: 0.6s;
		}
		.dropdown {
				position: relative;
				display: inline-block;
			}

			.dropdown-content {
	  			display: none;
	  			position: absolute;
	  			background-color: rgba(0, 0, 0, 1);
	  			min-width: 180px;
	  			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  			padding: 12px 16px;
	  			z-index: 1;
	  			text-align: center;
			}

			.dropdown:hover .dropdown-content {
	  			display: block;
			}

			.dropdown-content a{
				color: white;
	  			padding: 12px 16px;
	  			text-decoration: none;
	  			display: block;
			}

			.dropdown-content a:hover{
				background-color: rgba(105, 105, 105, 0.7);
			}
		/*.banner{*/
			/*position: relative;
			width: 100%;
			height: 100vh;
			background: url(背景.jpg);
			background-size:cover ;
		}*/
		header.sticky.logo{
			color: #fff;
		}
		header.sticky ul li a{
			color: #fff;
		}
		.sousuo{
			margin: 0;
			padding: 0;
			/*background: #e84118;*/
			opacity: 0.8;
		}
		.search-box{
			position: absolute;
			top: 50%;
			left: 30%;
			transform:translate(-50%,-50%) ;
			background:transparent;
			height: 40px;
			border-radius: 40px;
			padding: 10px;
		}
		.search-btn{
			color: #e84118;
			float: right;
			width: 40px;
			height: 20px;
			border-radius: 50%;
			background: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 6px;
		}
		.search-txt{
			border: none;
			background: none;
			outline: none;
			float: left;
			padding: 0;
			color: white;
			font-size: 16px;
			transition: 0.4s;
			line-height: 20px;
			width: 240px;

		}
		/* 确定盒子的大小 */
.box {
    position: relative;
    background-image: url(image/back_.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    width: 100%;
    height: 270px;
    /* 居中 */
    top: -240px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,50%);
    /*border: solid 2px white;*/
} 
.imgs {
	 top: -540px;
    position: fixed;
    width: 820px;
    height: 260px;
    top:120px;
    left: 50%;
    transform: translateX(-50%);
    /*border: solid 1px white;*/
}
/* 让图片都叠在一起 */
.imgs li {
    position: absolute;
    width: 820px;
    height: 470px;
    transition: 0.7s;
    /*border: solid 1px white;*/
    overflow: hidden;
}
/* 给左右按钮设计样式，和定位 */
.box .left {
    position: absolute;
    font-size: 24px;
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: black;
    border-radius: 100%;
    /* 添加半透明 */
    opacity: .3;
    top: 50%;
    left: 0;
    z-index: 999;
    left: 130px;

}
.box .right {
    position: absolute;
    font-size: 24px;
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: black;
    border-radius: 100%;
    /* 添加半透明 */
    opacity: .3;
    top: 50%;
    right: 130px;
    z-index: 999;
}
/* 给左右按钮添加鼠标移入样式 */
.left:hover {
    /* 把透明度挑高一点，让按钮看起来更亮一些 */
    opacity: .7;
}
.right:hover {
    opacity: .7;
}
/* 把图片错开 */
.imgs .one {
    transform: translateX(-150px) scale(0.9);
    z-index: 1;
    filter: brightness(0.3);
}
/* 第二张图片在中间，层级最高 */
.imgs .two {
    z-index: 2;
}
.imgs .three {
    transform: translateX(150px) scale(0.9);
    z-index: 1;
    filter: brightness(0.3);
}
/* 刚开始不显示的图片就放在中间图片的下面 */
.imgs .four {
    transform: scale(0.9);
}
.imgs .five {
    transform: scale(0.9);
}
.imgs .six {
    transform: scale(0.9);
}
/* 设计小圆圈 */
/* 定位 */
.list {
    position: absolute;
   top: 600px;
    left: 50%;
    /*margin-left: -81px ;*/
    transform: translateX(-50%);
    z-index: 777;
    /*border: solid 1px white;*/
}
/* 设计样式 */
.list li {
    float: left;
    width: 15px;
    height: 15px;
    bottom: 350px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 10px;
    margin-top: ;
    cursor: pointer; 
}
/* 小圆圈改变后的样式 */
.list .change {
    background-color: white;
}
/* 左右两边各一个盒子 */
.rights{
    position: absolute;
    right: 0;
    bottom: 30px;
    height: 255.5px;
    width: 100px;
    /*border: solid 1px white;*/
}
.lefts{
    position: absolute;
    left: 0;
    bottom: 14px;
    height: 255.5px;
    width: 100px;

}


		